<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset ="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>CRUD - Authentications</title>
        <link rel ="stylesheet" href="{% static 'authentication/css/bootstrap.css' %}">
    </head>
    <body>
        {% if messages %}
         {% for message in messages %}
          <small {% if message.tags %} class="{{message.tags}}" {% endif%}>{{message}}</small>
         {%endfor%}
        {%endif%}
        <!--<a href= "{% url 'generate' %}" class="btn btn-info"> Bulk Add</a>-->

        <div class="container mt-5">
            <h2 class ="text-center alert alert-danger">Tasks CRUD Operations </h2>
            {% block content %} {% endblock content %}
        </div>
        <script src ="{% static 'authentication/js/jquery.js' %}"></script>
        <script src ="{% static 'authentication/js/popper.js' %}"></script>
        <script src ="{% static 'authentication/js/bootstrap.js' %}"></script>
        
    </body>
    </html>